/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Tilt+Warp&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #14213d;
}

/* Header Start*/
header {
  background-color: white;
  box-shadow: 0rem 0.1rem 0.2rem grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 3rem;
  position: fixed;
  width: 100%;
  height: 5em;
  inset-inline-start: 0;
  inset-block-start: 0;
}

/* Link Logo */
header > a {
  font-family: "Tilt Warp", sans-serif;
  font-size: x-large;
  text-decoration: none;
}

/* Navigation */
.nav-list ul {
  display: flex;
  list-style-type: none;
}
.nav-list ul li a {
  text-decoration: none;
  font-weight: bolder;
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
}
.nav-list ul li a:hover {
  border-radius: 1rem;
  background-color: #14213d;
  color: white;
}
.nav-list ul li a:active {
  border-radius: 1rem;
  border-style: outset;
  background-color: white;
  color: #14213d;
}

/* Hamburger Menu */
#hamburger-menu {
  display: none;
}

/* Close Button */
#closebtn {
  display: none;
}
/* Header End */

/* Main Start */
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
/* Article Hero Section*/
.hero-section {
  padding-block: 5rem;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  height: 100vh;
}

/* Greeting Section */
.hero-section div {
  flex: 1;
}
.hero-section div h1,
h2 {
  font-family: "Tilt Warp", sans-serif;
  font-size: xx-large;
}
.hero-section div > p {
  font-size: x-large;
  font-weight: 500;
  margin-block-start: 1rem;
  text-align: left;
}
.hero-section div > p > span > img {
  width: 2rem;
  margin-block-end: -0.3rem;
  margin-inline: 0.3rem;
}
.hero-section div > p > span {
  font-family: "Tilt Warp", sans-serif;
  font-size: x-large;
  color: green;
}

/* Sosial Media Logo */
.social-media li {
  list-style-type: none;
  display: inline;
  margin-inline: 0.5rem;
}
.social-media li a {
  text-decoration: none;
}
.social-media li a i {
  font-size: xx-large;
}

/* Hero Section */
.hero-section aside {
  flex: 1;
}
.hero-section aside p {
  font-size: 300px;
  text-align: center;
}
/* Article Hero Section End */

/* About Me Start*/
.about-me {
  padding-block: 5rem;
  padding-inline: 3rem;
  background: #14213d;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100vw;
}
.about-me h1 {
  font-family: "Tilt Warp", sans-serif;
  color: white;
  text-align: center;
  font-size: xx-large;
  margin-block-start: -1em;
  margin-block-end: 2em;
}
.about-me p {
  text-align: center;
  font-size: larger;
  color: white;
  line-height: 2em;
}
/* About Me End*/

/* Experience Start */
.experience {
  margin-block-start: -1em;
  padding-block: 5rem;
  padding-inline: 3rem;
  background: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100vw;
}
.experience h1 {
  font-family: "Tilt Warp", sans-serif;
  color: #14213d;
  text-align: center;
  font-size: xx-large;
  margin-block-start: -1em;
  margin-block-end: 2em;
}
.experience > ul > li {
  font-size: larger;
  font-weight: bold;
  color: #14213d;
  margin-block: 1rem;
}
.experience > ul > li > p {
  font-size: large;
  font-weight: bold;
  color: #14213d;
  margin-block: 0.5rem;
}
.experience > ul > li > ul > li {
  list-style-type: circle;
  margin-inline-start: 1rem;
  font-size: medium;
  font-weight: 500;
  color: #14213d;
}
/* Experience End */

/* Project Start */
.project {
  padding-block: 5rem;
  padding-inline: 3rem;
  background: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100vw;
}
.project > h1 {
  font-family: "Tilt Warp", sans-serif;
  color: #fca311ff;
  text-align: center;
  font-size: xx-large;
  margin-block-start: -1em;
  margin-block-end: 2em;
}
.project > div {
  width: 100%;
  height: 100%;
  display: flex;
}
.web-dev,
.design {
  width: 100%;
  height: 100%;
}

.web-dev > h2,
.design > h2 {
  font-family: "Tilt Warp", sans-serif;
  color: #14213d;
  font-size: x-large;
  padding-bottom: 1rem;
  text-align: center;
}

.first-web,
.first-design {
  border-radius: 1rem;
  border: 0.1rem solid grey;
  box-shadow: 0.1rem 0.1rem 0.2rem #fca311ff;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
.first-web > h3,
.first-design > h3 {
  font-size: larger;
  font-weight: bold;
  margin-block: 0.5rem;
}
.first-web > img,
.first-design > img {
  width: 430px;
  border-radius: 1rem;
  border: 0.1rem solid black;
}
.first-design > img {
  height: 235px;
}
.first-web > h4,
ul,
.first-design > h4,
ul {
  align-self: flex-start;
}
.first-web > h4,
.first-design > h4 {
  font-weight: bold;
  margin-block-start: 2rem;
}
.first-web > ul > li,
.first-design > ul > li {
  display: inline;
  list-style-type: none;
}
.first-web > ul > li > i {
  font-size: xx-large;
}
.first-design > ul > li > img {
  width: 30px;
}
/* Project End */
/* Main End */

/* ---------Mobile--------- */
@media (max-width: 640px) {
  /* Header Start */
  /* Link Logo */
  header > a {
    font-size: xx-large;
    margin-inline: auto;
  }

  /* Nav Bar */
  .nav-list {
    display: block;
    position: fixed;
    inset-inline-start: -40em;
    inset-block-start: 5em;
    z-index: -999;
    width: 100%;
    height: 100vh;
    background-color: #14213d;
    opacity: 98%;
  }

  .nav-list-active {
    inset-inline-start: 0;
    transition: all 0.5s;
  }
  .nav-list-active ul {
    display: flex;
    flex-direction: column;
    margin-block: 4em;
  }
  .nav-list-active ul li {
    margin-inline: auto;
    margin-block: 1.5rem;
  }
  .nav-list-active ul li a {
    color: white;
  }
  .nav-list-active ul li a:hover {
    border: none;
    color: skyblue;
  }
  .nav-list-active ul li a:active {
    border-radius: 1rem;
    background-color: white;
    color: #14213d;
  }

  /* Hamburger Menu */
  #hamburger-menu {
    display: block;
    position: fixed;
    inset-inline-end: 2em;
    z-index: 999;
    scale: 100%;
    font-size: large;
  }
  #hamburger-menu.hamburger-active {
    scale: 0%;
    transition: 0.5s;
  }

  /* Close Button */
  #closebtn {
    display: block;
    position: fixed;
    inset-inline-end: 2em;
    z-index: 998;
    scale: 0%;
    font-size: large;
  }
  #closebtn.active {
    scale: 100%;
    transition: 0.5s;
  }
  /* Header End */

  /* Main Start*/
  /* Greeting Section */
  .hero-section div h1,
  h2 {
    font-size: x-large;
  }
  .hero-section div > p {
    font-size: large;
    text-align: justify;
  }
  .hero-section div > p > span > img {
    width: 1rem;
    margin-block-end: -0.1rem;
  }
  .hero-section div > p > span {
    font-size: medium;
  }

  /* Sosial Media Logo */
  .social-media {
    margin-inline: 0rem;
    margin-block: 0rem;
  }

  /* About Me and Experience */
  .about-me h1,
  .experience h1 {
    font-size: x-large;
  }
  .about-me p {
    font-size: medium;
  }

  /* Work Section */
  .first-web,
  .first-design {
    width: 100%;
    height: fit-content;
  }
  .first-web > img {
    width: 100%;
  }
  .first-design > img {
    width: 100%;
    height: fit-content;
  }
  /* Main End */
}

/* ---------Tablet--------- */
@media (max-width: 768px) {
  .nav-list ul li a {
    margin-inline: 0.1rem;
  }
  .hero-section {
    flex-direction: column;
    margin-block-end: 5rem;
  }
  .project > div {
    flex-direction: column;
  }
  .design {
    margin-block-start: 5em;
  }
  .design > h2 {
    text-align: left;
  }
}
/* ---------Laptop--------- */
@media (max-width: 1024px) {
  .first-web > img,
  .first-design > img {
    width: 300px;
  }
  .first-design > img {
    height: 166px;
  }
}
