/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Tilt+Warp&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #14213d;
}
html {
  scroll-behavior: smooth;
}

/* Header Start*/
header {
  background-color: #fca311ff;
  box-shadow: 0rem 0.1rem 0.2rem black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 3rem;
  position: fixed;
  width: 100%;
  height: 5em;
  inset-inline-start: 0;
  inset-block-start: 0;
}

/* Link Logo */
header > a {
  font-family: "Tilt Warp", sans-serif;
  font-size: xx-large;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  background-color: #14213d;
  padding: 0.3rem 1rem 0.4rem 1.5rem;
}
header > a > sup {
  font-family: "Tilt Warp", sans-serif;
  font-size: large;
  text-decoration: none;
  color: white;
}

/* Navigation */
.nav-list ul {
  display: flex;
  list-style-type: none;
}
.nav-list ul li a {
  font-size: large;
  text-decoration: none;
  font-weight: bolder;
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
}
.nav-list ul li a:hover {
  border-radius: 1rem;
  background-color: #14213d;
  color: white;
}
.nav-list ul li a:active {
  border-radius: 1rem;
  border-style: outset;
  background-color: white;
  color: #14213d;
}

/* Hamburger Menu */
#hamburger-menu {
  display: none;
}

/* Close Button */
#closebtn {
  display: none;
}
/* Header End */

/* Main Start */
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
/* Article Hero Section*/
.hero-section {
  padding-block: 5rem;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  width: 100vw;
}

/* Greeting Section */
.hero-section div {
  flex: 1;
}
.hero-section div h1,
h2 {
  font-family: "Tilt Warp", sans-serif;
  font-size: xx-large;
}
.hero-section div > p {
  font-size: x-large;
  font-weight: 500;
  margin-block-start: 1rem;
  text-align: left;
}
.hero-section div > p > span > img {
  width: 2rem;
  margin-block-end: -0.3rem;
  margin-inline: 0.3rem;
}
.hero-section div > p > span {
  font-family: "Tilt Warp", sans-serif;
  font-size: x-large;
  color: green;
}
.hero-section > aside {
  flex: 1;
  display: flex;
  justify-content: end;
}
.hero-section > aside > img {
  width: 50%;
  border-radius: 48%;
  background-color: #14213d;
  padding-top: 0.5rem;
}

/* Sosial Media Logo */
.social-media li {
  list-style-type: none;
  display: inline;
  margin-inline: 0.5rem;
}
.social-media li a {
  text-decoration: none;
}
.social-media li a i {
  font-size: xx-large;
}

/* Hero Section */
.hero-section aside {
  flex: 1;
}
.hero-section aside p {
  font-size: 300px;
  text-align: center;
}
/* Article Hero Section End */

/* About Me Start*/
.about-me {
  padding-block: 5rem;
  padding-inline: 3rem;
  background: #14213d;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  width: 100vw;
}
.about-me h1 {
  font-family: "Tilt Warp", sans-serif;
  color: white;
  text-align: center;
  font-size: xx-large;
  margin-block-start: -1em;
  margin-block-end: 2em;
}
.about-me p {
  text-align: center;
  font-size: larger;
  color: white;
  line-height: 2em;
}
/* About Me End*/

/* Experience Start */
.experience {
  margin-block-start: -1em;
  padding-block: 5rem;
  padding-inline: 3rem;
  background: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100vw;
}
.experience h1 {
  font-family: "Tilt Warp", sans-serif;
  color: #14213d;
  text-align: center;
  font-size: xx-large;
  margin-block-start: -1em;
  margin-block-end: 2em;
}
.experience > ul > li {
  font-size: larger;
  font-weight: bold;
  color: #14213d;
  margin-block: 1rem;
}
.experience > ul > li > p {
  font-size: large;
  font-weight: bold;
  color: #14213d;
  margin-block: 0.5rem;
}
.experience > ul > li > ul > li {
  list-style-type: circle;
  margin-inline-start: 1rem;
  font-size: medium;
  font-weight: 500;
  color: #14213d;
}
/* Experience End */

/* Project Start */
.project {
  padding-block: 5rem;
  padding-inline: 3rem;
  background: #fca311ff;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100vw;
  margin-block-start: -1rem;
}
.project > h1 {
  font-family: "Tilt Warp", sans-serif;
  color: white;
  font-size: xx-large;
  margin-block-start: -1em;
  margin-block-end: 2em;
  margin-inline: auto;
  border-radius: 2rem;
  background-color: #14213d;
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  width: max-content;
}
.project > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.web-dev > h2,
.design > h2 {
  font-family: "Tilt Warp", sans-serif;
  color: #14213d;
  font-size: x-large;
  padding-bottom: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 2rem;
  width: max-content;
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  margin-block: 1rem;
  margin-inline: auto;
  border-style: solid;
  border-color: #14213d;
}

.first-web,
.first-design {
  border-radius: 1rem;
  /* border: 0.1rem solid grey; */
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #14213d;
}
.first-web:hover {
  transition: all 0.5s;
  transform: translateY(-0.5rem);
}
.first-design:hover {
  transition: all 0.5s;
  transform: translateY(-0.4rem);
}
.first-web:active {
  outline: none;
  border-color: white;
  box-shadow: 0 0 1rem white;
}
.first-design:active {
  outline: none;
  border-color: white;
  box-shadow: 0 0 1rem white;
}

.first-web > h3,
.first-design > h3 {
  font-size: larger;
  font-weight: bold;
  margin-block: 0.5rem;
}
.first-web > img,
.first-design > img {
  width: 430px;
  border-radius: 1rem;
  border: 0.1rem solid black;
}
.first-design > img {
  height: 235px;
}
.first-web > h4,
ul,
.first-design > h4,
ul {
  align-self: flex-start;
}
.first-web > h4,
.first-design > h4 {
  font-weight: bold;
  margin-block-start: 0.5rem;
  margin-block-end: 0rem;
}
.first-web > ul > li,
.first-design > ul > li {
  display: inline;
  list-style-type: none;
}
.first-web > ul > li > i {
  font-size: xx-large;
}
.first-web > button,
.first-design > button {
  display: flex;
  font-size: medium;
  font-weight: bold;
  justify-content: end;
  align-items: end;
  align-self: flex-end;
  margin-block-start: -2em;
  background-color: white;
  color: #14213d;
  border: none;
}
.first-web > button > i,
.first-design > button > i {
  margin-inline: 0.2rem;
}

.first-design > ul > li > img {
  width: 30px;
}
/* Project End */

/* Main End */

/* Footer Start*/
.contact {
  margin-block-start: 5rem;
  padding-block: 1.5rem;
  padding-inline: 3rem;
}
.contact > h1 {
  font-family: "Tilt Warp", sans-serif;
  color: #14213d;
  font-size: xx-large;
  text-align: center;
  margin-block-start: -1em;
  margin-block-end: 2em;
  margin-inline: auto;
  border-radius: 2rem;
}
.contact p {
  text-align: center;
  font-size: larger;
  margin-block-end: 3rem;
}
.contact div {
  display: flex;
  justify-content: space-around;
}
.contact-link {
  flex-grow: 2;
}
.contact-link > li {
  list-style-type: none;
  margin-block: 1rem;
  display: flex;
  align-items: center;
}
.contact-link li > a {
  text-decoration: none;
}
.contact-link li > a > i {
  font-size: xx-large;
  margin-inline-end: 0.5rem;
}
.contact div > aside {
  flex-grow: 1;
}
.contact div > aside > form {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #14213d;
  border-radius: 1rem;
  padding: 2rem;
}
.contact div > aside > form > label {
  margin-block: 0.3rem;
}
.contact div > aside > form > input {
  border: 1px solid #14213d;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.contact div > aside > form > input:focus {
  outline: none;
  border-color: #14213d;
  box-shadow: 0 0 1rem #14213d;
}

.contact div > aside > form > textarea,
button {
  border-radius: 1rem;
  border: 1px solid #14213d;
}
.contact div > aside > form > button {
  margin-block: 0.5rem;
  padding-block: 0.5rem;
  background-color: #14213d;
  color: white;
  font-weight: bold;
}

footer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer > p {
  align-self: center;
  background-color: #fca311ff;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
}

/* ---------Mobile--------- */
@media (max-width: 640px) {
  /* Header Start */
  /* Link Logo */
  header > a {
    font-size: xx-large;
    margin-inline: auto;
  }

  /* Nav Bar */
  .nav-list {
    display: block;
    position: fixed;
    inset-inline-start: -40em;
    inset-block-start: 5em;
    z-index: -999;
    width: 100%;
    height: 100vh;
    background-color: #14213d;
    opacity: 98%;
  }

  .nav-list-active {
    inset-inline-start: 0;
    transition: all 0.5s;
  }
  .nav-list-active ul {
    display: flex;
    flex-direction: column;
    margin-block: 4em;
  }
  .nav-list-active ul li {
    margin-inline: auto;
    margin-block: 1.5rem;
  }
  .nav-list-active ul li a {
    color: white;
  }
  .nav-list-active ul li a:hover {
    border: none;
    color: skyblue;
  }
  .nav-list-active ul li a:active {
    border-radius: 1rem;
    background-color: white;
    color: #14213d;
  }

  /* Hamburger Menu */
  #hamburger-menu {
    display: block;
    position: fixed;
    inset-inline-end: 2em;
    z-index: 999;
    scale: 100%;
    font-size: large;
  }
  #hamburger-menu.hamburger-active {
    scale: 0%;
    transition: 0.5s;
  }

  /* Close Button */
  #closebtn {
    display: block;
    position: fixed;
    inset-inline-end: 2em;
    z-index: 998;
    scale: 0%;
    font-size: large;
  }
  #closebtn.active {
    scale: 100%;
    transition: 0.5s;
  }
  /* Header End */

  /* Main Start*/

  /* Greeting Section */
  .hero-section {
    margin-block-start: 4rem;
    margin-block-end: 0rem;
  }
  .hero-section div h1,
  h2 {
    font-size: x-large;
  }
  .hero-section div > p {
    font-size: large;
    text-align: justify;
  }
  .hero-section div > p > span > img {
    width: 1rem;
    margin-block-end: -0.1rem;
  }
  .hero-section div > p > span {
    font-size: medium;
  }
  .hero-section aside > img {
    object-fit: contain;
    object-position: center;
  }

  /* Sosial Media Logo */
  .social-media {
    margin-inline: 0rem;
    margin-block: 0rem;
  }

  /* About Me and Experience */
  .about-me h1,
  .experience h1,
  .project h1 {
    font-size: x-large;
  }
  .project h2 {
    font-size: larger;
  }
  .about-me p {
    font-size: medium;
  }

  /* Work Section */
  .first-web,
  .first-design {
    width: 100%;
    height: fit-content;
  }
  .first-web > img {
    width: 100%;
  }
  .first-design > img {
    width: 100%;
    height: fit-content;
  }

  /* Main End */
}

/* ---------Tablet--------- */
@media (min-width: 640px) {
  .hero-section {
    margin-block-start: 17rem;
    margin-block-end: 15rem;
  }
}
@media (max-width: 768px) {
  .nav-list ul li a {
    margin-inline: 0.1rem;
  }
  .hero-section {
    flex-direction: column;
    justify-content: center;
  }
  .hero-section > aside {
    justify-content: center;
  }
  .hero-section > aside > img {
    margin-block-start: 2rem;
  }
  .project > div {
    flex-direction: column;
    align-items: center;
  }
  .design {
    margin-block-start: 5em;
  }
  /* Contact Section*/
  .contact > div {
    display: flex;
    flex-direction: column;
  }
  .contact > div > ul {
    align-self: center;
    margin-block-end: 2rem;
  }
}
/* ---------Laptop--------- */
@media (min-width: 768px) {
  .hero-section {
    margin-block: 5rem;
  }
}
@media (max-width: 1024px) {
  .hero-section > aside > img {
    width: 70%;
  }
  .first-web > img,
  .first-design > img {
    width: 300px;
  }
  .first-design > img {
    height: 166px;
  }
}
